body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

.navbar-nav {
            margin-left: auto;
        }
.container-fluid{
  padding: 5% 13%;
}

#title {
  background-color: #ff4c68;
}

h1
{
  font-family: "Montserrat",sans-sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}
